DOMAIN=https://vw.islanublar.de
VIRTUAL_HOST=vw.islanublar.de
VIRTUAL_PORT=80
SMTP_HOST=smtp.mailbox.org
SMTP_FROM=REPLACE_ME
SMTP_PORT=587
SMTP_SECURITY=starttls     # oder "force_tls" oder "off"
SMTP_USERNAME=REPLACE_ME
SMTP_PASSWORD=REPLACE_ME
SMTP_TIMEOUT=15            # optional
SMTP_AUTH_MECHANISM="Plain"  # optional: Plain, Login, CramMd5
SMTP_EXPLICIT_TLS=true     # optional: explizites TLS verwenden
SMTP_DEBUG=false
ADMIN_TOKEN=REPLACE_ME
WEBAUTHN_ENABLED=true
