# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
Icon
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP shares
.AppleDB
.AppleDesktop
.NetworkTrashFolder
.TemporaryItems

# Environment files
.env
.env.*
!.env.example
