# --- Stack/Project Settings ---
COMPOSE_PROJECT_NAME=web-proxy

# --- Nginx Proxy Settings ---
PROXY_TRUST_DOWNSTREAM=true
NGINX_MODIFICATION=location /media/ { root /media/; index index.html index.htm; }

# Paths for host bind mounts (Use absolute paths)
NGINX_BASE_PATH=/opt/docker/nginx
ACME_BASE_PATH=/opt/docker/acme

# --- ACME Companion Settings ---
ACME_DEFAULT_EMAIL=stephan@yauh.de
ACME_DEBUG=false
#or 1

# (vom Anbieter)
DESEC_TOKEN=REPLACE_ME

# Komma-getrennt, Wildcards mit *., z.B. *.example.com,example.com
WILDCARD_DOMAINS=*.islanublar.de,islanublar.de,*.islasorna.de,islasorna.de,*.herrhochhaus.de,herrhochhaus.de,*.yauh.de,yauh.de,*.geekcast.de,geekcast.de,*.letstalkgeek.de,letstalkgeek.de
