# --- Stack/Project Settings ---
COMPOSE_PROJECT_NAME=homepage
TZ=Europe/Berlin
PUID=1000
PGID=999

HOMEPAGE_ALLOWED_HOSTS=192.168.0.15:3323,localhost:3323,homepage.islanublar.local,homepage.islasorna.de
