TZ=Europe/Berlin
PUID=1000
PGID=999
# --- Reverse Proxy (Hostname ohne Schema) ---
SONARR_DOMAIN=sonarr.meine-domain.de
LIDARR_DOMAIN=lidarr.meine-domain.de
BAZARR_DOMAIN=bazarr.meine-domain.de
RADARR_DOMAIN=radarr.meine-domain.de
PROWLARR_DOMAIN=prowlarr.meine-domain.de
SABNZBD_DOMAIN=sabnzb.meine-domain.de
OVERSEERR_DOMAIN=overseerr.meine-domain.de
