# --- Stack/Project Settings ---
COMPOSE_PROJECT_NAME=content
TZ=Europe/Berlin
PUID=1000
PGID=999
# Komma-getrennt; mit Port wenn nicht :80/:443 (host:port-Form)
HOMEPAGE_ALLOWED_HOSTS=192.168.0.15:3323,localhost:3323,homepage.meine-domain.de
# --- Reverse proxy (hostname without scheme) ---
HOMEPAGE_DOMAIN=homepage.meine-domain.de
# Numbers only; internal container port
HOMEPAGE_PORT=3000
CODEX_DOMAIN=codex.meine-domain.de
CODEX_PORT=9810
FIVETOOLS_DOMAIN=5etools.meine-domain.de
# TRUE | FALSE
FIVETOOLS_OFFLINE_MODE=TRUE
