# Domain & Proxy Configuration
WANDERER_DOMAIN=wanderer.islanublar.de
# MIT Schema, OHNE trailing slash (https://wanderer.example.com)
ORIGIN=https://wanderer.islanublar.de

# Security Keys (Generate strong random strings / hex keys)
MEILI_MASTER_KEY=REPLACE_ME
# Erzeugen: openssl rand -hex 32
POCKETBASE_ENCRYPTION_KEY=REPLACE_ME
# Erzeugen: openssl rand -hex 32
POCKETBASE_PROXY_SECRET=REPLACE_ME

# Application Settings
PUBLIC_DISABLE_SIGNUP=false
# Nginx-style Groessenlimit mit Einheit oder "Infinity"
BODY_SIZE_LIMIT=Infinity
# MIT Schema, OHNE trailing slash
OVERPASS_API_URL=https://overpass-api.de
# MIT Schema, OHNE trailing slash
VALHALLA_URL=https://valhalla1.openstreetmap.de
# MIT Schema, OHNE trailing slash
NOMINATIM_URL=https://nominatim.openstreetmap.org
PUBLIC_MAP_MAX_POLYLINES=100
# true | false (boolesch, kleingeschrieben)
PUBLIC_DISABLE_SIGNUP=true

# Optional: Require login to view any content (makes the entire instance private)
PUBLIC_PRIVATE_INSTANCE=true
