# Domain & Proxy Configuration
WANDERER_DOMAIN=wanderer.islanublar.de
ORIGIN=https://wanderer.islanublar.de

# Security Keys (Generate strong random strings / hex keys)
MEILI_MASTER_KEY=REPLACE_ME
# Erzeugen: openssl rand -hex 32
POCKETBASE_ENCRYPTION_KEY=REPLACE_ME
# Erzeugen: openssl rand -hex 32
POCKETBASE_PROXY_SECRET=REPLACE_ME

# Application Settings
PUBLIC_DISABLE_SIGNUP=false
BODY_SIZE_LIMIT=Infinity
OVERPASS_API_URL=https://overpass-api.de
VALHALLA_URL=https://valhalla1.openstreetmap.de
NOMINATIM_URL=https://nominatim.openstreetmap.org
PUBLIC_MAP_MAX_POLYLINES=100
PUBLIC_DISABLE_SIGNUP=true

# Optional: Require login to view any content (makes the entire instance private)
PUBLIC_PRIVATE_INSTANCE=true
