# Ghost Configuration
GHOST_WEB_PORT=2368
GHOST_DOMAIN=www.herrhochhaus.de,herrhochhaus.de
GHOST_URL=https://www.herrhochhaus.de

# Storage Paths
GHOST_CONTENT_PATH=/opt/docker/ghost/ghost
MYSQL_DATA_PATH=/opt/docker/ghost/mysql

# Database Configuration
DB_USER=ghost_user
DB_PASSWORD=ex23aPeEasP001s!
DB_ROOT_PASSWORD=e3P0x2028J2JI142NmNmNs!3dK1l
GHOST_DB_NAME=ghost_prod
ACTIVITYPUB_DB_NAME=ghost_activitypub
GHOST_MYSQL_PORT=3307

# ActivityPub Configuration
ACTIVITYPUB_WEBHOOK_SECRET=REPLACE_ME

# --- Mail Configuration ---
SMPT_SERVICE=mailboxorg
SMTP_HOST=REPLACE_ME
SMTP_PORT=465
SMTP_USERNAME=REPLACE_ME
SMTP_PASSWORD=REPLACE_ME
SMTP_FROM=REPLACE_ME

# --- System ---
TZ=Europe/Berlin
