COMPOSE_PROJECT_NAME=analytics
TZ=Europe/Berlin
PUID=1000
PGID=999
SHYNET_HOST=analytics.islanublar.de
SHYNET_PORT=8011
CERT_EMAIL=stephan@yauh.de
SHYNET_BASE_PATH=/opt/docker/shynet
SHYNET_DATA_PATH=${SHYNET_BASE_PATH}/data
DB_DATA_PATH=${SHYNET_BASE_PATH}/postgres
SECRET_KEY=REPLACE_ME
DB_SECRET_KEY=REPLACE_ME
DB_PASSWORD=8wHdwiOJ--Pedl!2wOr
DB_USER=shynet_user
DB_NAME=shynet_db
ALLOWED_HOSTS=192.168.0.15,localhost,analytics.islanublar.de,analytics-shynet-server
CSRF_TRUSTED_ORIGINS=https://analytics.islanublar.de,https://192.168.0.15,http://localhost

SMTP_HOST=REPLACE_ME
SMTP_PORT=465
SMTP_USERNAME=REPLACE_ME
SMTP_PASSWORD=REPLACE_ME
SMTP_FROM=REPLACE_ME
SMTP_SENDER=REPLACE_ME
