TZ=Europe/Berlin
PUID=1000
PGID=999
# --- Reverse Proxy (Hostname ohne Schema) ---
HASS_DOMAIN=hass.meine-domain.de
# Nur Zahlen; interner Container-Port
HASS_PORT=8123
MASS_DOMAIN=mass.meine-domain.de
# Nur Zahlen; interner Container-Port
MASS_PORT=8095
