# --- Project Name ---
COMPOSE_PROJECT_NAME=tdarr

# --- Core Container Settings ---
TZ=Europe/Berlin
PUID=1000
PGID=1000
UMASK=002

# --- Tdarr Ports ---
TDARR_WEBUI_PORT=8265
TDARR_SERVER_PORT=8266
TDARR_INTERNAL_NODE_PORT=8267
TDARR_EXTRA_NODE_PORT=8268

# --- Tdarr Server Configuration ---
TDARR_SERVER_IP=0.0.0.0
TDARR_INTERNAL_NODE=true
TDARR_IN_CONTAINER=true
TDARR_NODE_NAME=OviNode

# --- Reverse Proxy Integration ---
VIRTUAL_HOST=tdarr.meine-domain.de

# --- Host Paths ---
TDARR_BASE=/opt/docker/tdarr
TDARR_TEMP=/mnt/media/cache
MEDIA_PATH=/mnt/media/video

# --- Devices ---
TDARR_DRI_DEVICE=/dev/dri
