UPLOAD_LOCATION=/mnt/immich
DB_DATA_LOCATION=/opt/docker/immich/postgres
IMMICH_VERSION=release
DB_PASSWORD=REPLACE_ME
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
TZ=Europe/Berlin
PUID=1000
PGID=999
