# Absoluter Pfad OHNE trailing slash
UPLOAD_LOCATION=/mnt/immich
DB_DATA_LOCATION=/opt/docker/immich/postgres
IMMICH_VERSION=release
# Erzeugen: openssl rand -base64 24
POSTGRES_PASSWORD=REPLACE_ME
POSTGRES_USER=postgres
POSTGRES_DB=immich
TZ=Europe/Berlin
PUID=1000
PGID=999
# --- Reverse Proxy ---
# Hostname ohne Schema
IMMICH_DOMAIN=immich.meine-domain.de
# Postgres-initdb Argumente; --data-checksums empfohlen
POSTGRES_INITDB_ARGS=--data-checksums
