# --- Stack/Project Settings ---
COMPOSE_PROJECT_NAME=infra
TZ=Europe/Berlin
PUID=1000
PGID=999
# --- Omada (Reverse Proxy) ---
# Hostname ohne Schema
OMADA_DOMAIN=omada.meine-domain.de
# Nur Zahlen; interner Container-Port
OMADA_PORT=8043
# https | http
OMADA_PROTO=https
# --- Crowdsec ---
# Leerzeichen-getrennte Collections
CROWDSEC_COLLECTIONS=crowdsecurity/nginx crowdsecurity/sshd crowdsecurity/linux
