# --- Stack/Project Settings ---
COMPOSE_PROJECT_NAME=infra
TZ=Europe/Berlin
PUID=1000
PGID=999
# --- Omada (Reverse Proxy) ---
# Hostname without scheme
OMADA_DOMAIN=omada.meine-domain.de
# Numbers only; internal container port
OMADA_PORT=8043
# https | http
OMADA_PROTO=https
# --- Crowdsec ---
# Space-separated collections
CROWDSEC_COLLECTIONS=crowdsecurity/nginx crowdsecurity/sshd crowdsecurity/linux
